.btnIniciarSesion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 75%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.inputIniciarSesion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}